package routes

import (
	"quark/client/web/components"
)

templ Home_Page() {
	@components.Base_HTML() {
		<script>
	console.log(ctx.Value("username").(string))
</script>
		<h1 class="text-3xl">Home Page</h1>
	}
}
