package components

templ Base_HTML() {
	<html data-theme="dark-theme">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Quark - Client</title>
			<link rel="stylesheet" href="public/lib/index.css"/>
			<script src="public/lib/htmx.min.js"></script>
		</head>
		<body>
			@Navbar()
			{ children... }
		</body>
	</html>
}
