package components

templ Navbar() {
	<div class="sticky top-0 left-0 right-0 py-2 px-3">
		<div class="flex items-center gap-[20px] w-full bg-base-300 rounded-xl p-4">
			<a hx-boost="true" class="text-xl link" href="/">Home</a>
			<a hx-boost="true" class="text-xl link" href="/login">Login</a>
			<a hx-boost="true" class="text-xl link" href="/register">Register</a>
			<a hx-boost="true" class="text-xl link" href="/chat">Chat</a>
		</div>
	</div>
}
